.DS_Store

data/.ipynb_checkpoints
src/.ipynb_checkpoints
plots/.ipynb_checkpoints
html/.ipynb_checkpoints
notebooks/.ipynb_checkpoints
notebooks/temp*
data/Benchmark-1/samples*
data/Benchmark-1/table*
data/Benchmark-1/run*
data/Benchmark-1/tmp
data/Benchmark-2/1/
data/Benchmark-2/2/
data/Benchmark-2/3/

data/Benchmark-3/*.hdf5
data/Benchmark-3/*.csv
data/Benchmark-3/stat_test


