.DS_Store

data/.ipynb_checkpoints
src/.ipynb_checkpoints
plots/.ipynb_checkpoints
html/.ipynb_checkpoints
notebooks/.ipynb_checkpoints
notebooks/temp*
data/Benchmark-1/samples*
data/Benchmark-1/table*
data/Benchmark-1/run*
data/Benchmark-1/tmp
